node_modules
/SERVER_PHP/public/hot
/SERVER_PHP/public/storage
/SERVER_PHP/public/upload
/SERVER_PHP/storage/*.key
/SERVER_PHP/vendor
/SERVER_PHP/.env
/SERVER_PHP/.env.backup
/SERVER_PHP/.phpunit.result.cache
/SERVER_PHP/Homestead.json
/SERVER_PHP/Homestead.yaml
/SERVER_PHP/npm-debug.log
/SERVER_PHP/yarn-error.log

/SERVER_PHP/composer.lock
SERVER_PHP/public/sitemap.xml
setting.vps.config
setting.ssl.config

node_modules
.vscode/launch.json
.DS_Store
.htaccess
BUILDER\readme.md
